* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
a{
  outline: none;
}

div,
span {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
a {
  text-decoration: none;
}

.href-white {
  color: #ffff;
}

.appBar {
  background-color: #fff;
}
.margin-top1{
  margin-top: 1em;
}

.flex1{
  flex: 1;
}
.height100{
  height: 100%;
}
.min-height100{
  min-height: 100%;
}
.padding15{
  padding: 15px;
}
.navigation-item{
  color: #000;
}
.navigation-item:hover{
  color: black;
}
.yandex-map__container{
  min-height: 487px;
}
.registration-input {
  display: flex;
}
.modal-footer__subscribe-btn {
  flex: 1;
}
.volunteer__title {
  text-align: center;
}
.volunteer__sub-title {
  margin: 0 auto;
  font-size: 30px;
  width: 80%;
  text-align: center;
}
.volunteer-container {
  flex-direction: row;
  align-items: center;
  border: none;
  background: none;
  width: 100%;
}
.volunteer_img {
  width: 35%;
  font-size: 0;
}
.volunteer-container:nth-child(2n) {
  flex-direction: row-reverse;
}

.back-icon {
  padding-left: 20px;
  background-position: left;
  background-image: url("assets/img/back-icon.svg");
  background-repeat: no-repeat;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: 1em;
  flex: 0 0 auto;
  background-color: #212529;
  color: #f2f2f2;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer__p {
  text-align: center;
}

.footer-tablet {
  padding-top: 13px;
}

.footer-tablet__title {
  font-size: 20px;
}

.footer__phone {
  font-size: 20px;
}

.footer__subline {
  color: #a7a7a7;
}

.footer__navigation-item{
  color:#ffffff;
}

.footer__navigation-item:hover{
  color: #a7a7a7;
}

.footer-link{
  color:#fff;
}
.footer-link:hover{
  color: #a7a7a7;
}
